body{
    background-image: url(francesco-ungaro-2SXFKSO5G8w-unsplash.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

.list{
    background: linear-gradient(rgb(127, 184, 218),rgb(167, 242, 252));
    width: 275px;
    margin: 20px;
}

.list:nth-of-type(even){
    background:  linear-gradient(rgb(102, 160, 190),rgb(174, 227, 255));
}

.bubble{
    font-size: 2.5rem;
}

ul{
    list-style: none;
}

.strike-it{
    text-decoration: line-through;
    color: rgb(87, 122, 122);
}

.red-border{
    border-color: red;
}

td{
    padding: 0rem;
    padding-left: .75rem;
}

.row-delete{
    visibility: hidden;
}

.table-hover tbody tr:hover td button{  
    visibility: visible; 
}
